
*,html,body{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    line-height: 1.2rem;
}
.style-h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 84px;
    color: #1E1B1B;
}
.btn-danger{
    background-color:#FF6433;
    border-color: #FF6433;
}
.footer-section h3{
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
}
.footer-section{
    opacity: 0.98;
}
.contact-bag h6{
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.6;
}
.contact-bag h5{
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 36px;
}
.contact-bag-footer h6{
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    opacity: 0.6;
}

.ourblog{
    background-image: url(../images/ourblog.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.trnd{
    color: #FF6433 !important;
}

.butn-color{
    background-color: #FF6433;
}

.rounded{
    border-radius: 12px !important;
}

.blog-sec2{
    background-color: #F5F5F5;
    height: 110vh !important;
}

.sec2-grypara{
    color: #939191;
}

.sec2-lyt-drk-para{
    color: #232536c9;
}

.blog-sec3{
    background-color: white;
}

.sec4-1{
    background-image: url(../images/sec4\ img\ 1.png);
    height: 76vh;
    background-repeat: no-repeat;
    background-position: left center;
    background-clip: initial;
}

.sec4-2{
    background-color: #FF6433;
}

.sec4-3{
    background-image: url(../images/ovGrEUgrkyE.png);
    height: 76vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.red{
    background-color: #f85b29;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-black{
    background-color: #232536;
    border-radius: 3px;
    align-self: flex-start;
    margin-left: 5em;
}

a{
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .blog-sec2{
        background-color: #F5F5F5;
        height: 100vh !important;
    }

    .bjdiv1{
        height: 100px !important;
    }

    .sec4-1{
        background-image: url(../images/sec4\ img\ 1.png);
        height: 76vh;
        background-repeat: no-repeat;
        background-position: center;
        background-clip: initial;
    }
    
    .sec4-2{
        background-color: #FF6433;
    }
    
    .sec4-3{
        background-image: url(../images/ovGrEUgrkyE.png);
        height: 76vh;
        width: fit-content;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .red{
        width: 95%;
        margin: auto;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .link-black{
        margin-bottom: 4em;
    }
}

@media(max-width: 1024px){  

    .blog-sec2{
        background-color: #F5F5F5;
        height: 110vh !important;
    }

    .bjdiv1{
        height: 150px !important;
    }
}
