*,html,body{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    line-height: 1.2rem;
}
.hero-background{
    background-image: url(../images/hero-page.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 500px;
}
.style-h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 80px;
    color: #1E1B1B;
}
.btn-danger{
    background-color:#FF6433;
    border-color: #FF6433;
}
.hero-service img{
    width: 100%;
    height: 225px;
    padding-bottom: 55px;
    padding-right: 214px;
    margin-right: 188px;
}
.hero-service1{
    margin-top: 100px;
}
.hero-service1 img{
    width: 100%;
    height: 212px;
    padding-top: 52px;
    padding-left: 214px;
    margin-left: 188px;
}
.quote{
    background-color: #E2E6E9;
}
.quote-serious h2{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 70px;
}
.quote-form h3{
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 65px;
}
.contact-intouch{
    background-color: #FF6433;
}
.contact{
     margin-top: 1em;
 }

 .contact img{
     height: 350px;
 }

 .red{
     background-color: #f85b29;
     color: #fff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .link-black{
     background-color: #232536;
     border-radius: 3px;
     align-self: flex-start;
     margin-left: 5em;
 }
.link-black a{
    text-decoration: none;
    color: #ffffff;
}

.more-services{
    background-color: #f8f8f8;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

.h-blue{
    color: #7443ca;
}

.brand{
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.brand .row, .row-1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3em;
}

.testimonials{
    background-color: #f8f8f8;
}

.row-2{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.testimonial{
    background-color: #fff;
    padding: 2em;
}

.testimonial p{
    margin-top: 1em;
}

.img-special{
    width: 20%;
}

.img-special-2{
    width: 30%;
    height: 20%;
}

.row-3{
    justify-content: space-between;
    width: 45%;
    align-items: center;
    margin-top: 1em;
    padding-bottom: 1em;
}

.faqs{
    background-color: #bab8bd;
    padding-bottom: 4em;
}

.faq{
    background-color: #ffffff;
    width: 70%;
    margin: auto;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1em;
}

.faq img, .faq-sub img{
    width: 10%;
    height: 30px;
}

.faq-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1em;
}

.faq-1{
    background-color: #ffffff;
    width: 70%;
    margin: auto;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

/* mobile only styles */
@media screen and (max-width: 745px) {

    .contact{
        margin-top: 1em;
    }

    .red{
        width: 95%;
        margin: auto;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .more-services{
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #f8f8f8;
        width: 100%;
        margin: auto;
        margin-top: 1em;
    }

    .img-special{
        width: 40%;
    }
    
    .img-special-2{
        width: 40%;
        height: 20%;
    }
    
    .row-3{
        justify-content: space-between;
        width: 90%;
        margin: auto;
        align-items: center;
        margin-top: 1em;
    }

    .faq, .faq-sub{
        text-align: center;
    }
}
