*,html,body{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    line-height: 1.2rem;
}
.hero-background{
    background-image: url(../images/hero-page.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    height: 500px;
}
.style-h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 80px;
    color: #1E1B1B;
}
.btn-danger{
    background-color:#FF6433;
    border-color: #FF6433;
}
.hero-service img{
    width: 100%;
    height: 225px;
    padding-bottom: 55px;
    padding-right: 214px;
    margin-right: 188px;
}
.hero-service1{
    margin-top: 100px;
}
.hero-service1 img{
    width: 100%;
    height: 212px;
    padding-top: 52px;
    padding-left: 214px;
    margin-left: 188px;
}
.quote{
    background-color: #E2E6E9;
}
.quote-serious h2{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 70px;
}
.quote-form h3{
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 65px;
}
.contact-intouch{
    background-color: #FF6433;
}
.contact{
     margin-top: 1em;
 }

 .contact img{
     height: 350px;
 }

 .red{
     background-color: #f85b29;
     color: #fff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .link-black{
     background-color: #232536;
     border-radius: 3px;
     align-self: flex-start;
     margin-left: 5em;
 }
.link-black a{
    text-decoration: none;
    color: #ffffff;
}

.more-services{
    background-color: #f8f8f8;
    width: 95%;
    margin: auto;
}

.h-blue{
    color: #7443ca;
}

/* mobile only styles */
@media screen and (max-width: 745px) {

    .contact{
        margin-top: 1em;
    }

    .red{
        width: 95%;
        margin: auto;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}
